/* note: width properties are hard-coded; consider changing them to a "%" */

h1 {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid 4px;
  font-size: 38px;
  width: 600px;
}

img {
  float: left;
  padding-left: 50px;
}

input[type=text] {
  width: 20px;
  border-radius: 8px;
  padding: 5px 10px 10px 15px;
}

select {
  width: 220px;
  height: 30px;
  border-radius: 8px;
  padding: 5px 10px 10px 15px;
}

label {
  padding: 7px;
  text-transform: uppercase;
}

a {
  color: white;
  cursor: pointer;
}

.play-button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 7px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 70px;
}

.skip-button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 7px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: white;
  cursor: pointer;
  margin-left: 98px;
  margin-top: 5px;
}

.form-player {
  font-family: Arial, Helvetica, sans-serif
}

.form {
  margin-left: 185px;
}

.metaData {
  border: solid 2px;
  border-radius: 20px;
  width:400px;
  height: 50px;
  margin-left: 175px;
  margin-bottom: 25px;
  padding-top: 20px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: white;
  text-align: center;
  vertical-align: center;

}

.musicPlayer {
  margin-top: 30px;
  margin-left: 160px;
}
